
.header { 
	width: 80%; 
	padding: 10px;
	float: left;
	text-align: left;
	position: relative; 
	}

.menu { 
	width: 10%; 
	padding: 5px;
	float: left;
	position: relative; 
	}

.path { 
	width: 100%; 
	padding: 5px;
	float: left;
	position: relative; 
	}

.login { 
	width: 10%; 
	padding: 5px;
	float: left;
	position: relative; 
	}

.center { 
	width: 80%; 
	padding: 10px;
	float: left;
	position: relative; 
	}

.p0 { 
	width: 90%; 
	padding: 5px;
	float: left;
	position: relative; 
	left: 0%; 
	}

.p10 { 
	width: 90%; 
	padding: 5px;
	float: left;
	position: relative; 
	left: 10%; 
	}

.p20 { 
	width: 90%; 
	padding: 5px;
	float: left;
	position: relative; 
	left: 20%; 
	}




