
.header { 
	width: 100%; 
	padding: 10px;
	float: left;
	text-align: left;
	position: relative; 
	}

.menu { 
	width: 10%; 
	padding: 5px;
	float: left;
	position: relative; 
	}

.center { 
	width: 60%; 
	padding: 5px;
	float: left;
	position: relative; 
	}



